form.password {
    display: table;
}

div.form {
    display: table-row;
}

label.length {
    padding-right: 10px;
}
label.symbols {
    padding-right: 2px;
}
input.length {
	width: 50px;
}
.welcome {
	padding-bottom: 5px;
    font: 22px "Comic Sans", "Times New Roman", sans-serif;
}
.body {
    width: 250px;
	height: 140px;
}